
<div class="row d-flex justify-content-center align-items-center text-center  my-5">
  <div  *ngFor="let employee of employees" class="card col-md-4 ">
   <div class="m-2">
         <img class="card-img-center m-auto d-flex justify-content-center"  [src]="employee.photoPath" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title"> {{employee.name}} / {{employee.department}} </h5>
            
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">  Gender : {{employee.gender}}  </li>
            <li class="list-group-item">  Email : {{employee.email}} </li>
            <li class="list-group-item"> PhoneNumber :{{employee.phoneNumber}}  </li>
            <li class="list-group-item">  ContactPreference : {{employee.contactPreference}}  </li>
            <li class="list-group-item">  DateOfBirth : {{employee.dateOfBirth}} </li>
            
            </ul>
   
   </div>
      
   
    
  </div>
</div>